<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= current_page.data.title || "Lost Mapper" %> - Lost Mapper</title>

  <meta name="title" content="<%= current_page.data.title || "Lost Mapper" %> - Lost Mapper" />
  <meta name="description" content="Foo bar baz" />
  <meta name="author" content="Brian Kelly">

  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://lostmapper.com<%= current_page.url %>" />
  <meta property="og:title" content="<%= current_page.data.title || "Lost Mapper" %> - Lost Mapper" />
  <meta property="og:description" content="<%= current_page.data.description || "Lost Mapper" %>" />
  <meta property="og:image" content="https://lostmapper.com/images/metatags-logo.png" />

  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://lostmapper.com<%= current_page.url %>" />
  <meta property="twitter:title" content="<%= current_page.data.title || "Lost Mapper" %> - Lost Mapper" />
  <meta property="twitter:description" content="<%= current_page.data.description || "Lost Mapper" %>" />
  <meta property="twitter:image" content="https://lostmapper.com/images/metatags-logo.png" />

  <%= stylesheet_link_tag "site" %>
</head>
<body>
<div class="nav center">
  <a href="/">Home</a> <a href="/about">About</a> <a href="/articles">Articles</a> <a href="/resources">Resources</a>
  <a href="/contact">Contact</a>
</div>

<%= yield %>
</body>
</html>
